#notification_container_wrapper{
    color: var(--text); 
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#notificationContainer{
    width: 75%;
    height: 100%;
    border: 1px solid white;
}

#hours_container{
    width: 15%;
    height: 100%;
    overflow: auto;
    border: 1px solid white;
}