#notification_container_wrapper{
    color: var(--text); 
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#submitTime{
    margin: 10px;
}

#notificationContainer{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#notificationNavbar{
    width: 100%;
    height: 10%;
    display: flex;
}

#notif_nav_btn{
    height: 100%;
    display: flex;
    cursor: pointer;
    padding: 0px 20px;
    align-items: center;
    border-radius: 10px;
}

#notif_list_container{
    width: 100%;
    height: 95%;
    padding: 15px;
    display: flex;
    border-radius: 10px;
    background-color: var(--container_bg);
}

#notif_input_section, #notif_output_section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#notif_output_section h4{
    margin: 0px 5px;
}

#notif_input_section{
    justify-content: center;
    align-content: space-evenly;
}

.input_sec_container{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.notif_input_text, .notif_input_box{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.notif_input_ele{
    width: 80%;
    height: 90%;
    color: white;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
}

#sumbitButtons{
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--bg);
}