#listContainer{
	width: 100%;
	height: 89%;
	position: relative;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}

/*For Chrome*/
#listContainer::-webkit-scrollbar {
  display: none;
}

.list{
	width: 100%;
	display: flex;
	transition: 2s;
	min-height: 55px;
	color: var(--text);
	/* align-items: center; */
	justify-content: space-between;
	font-size: clamp(1rem, 1.2vw, 2vw);
}

.list:first-child{
	margin-top: 20px;
}

.checkBox{
	height: 55px;
	display: flex;
	padding: 5px 4px;
	/* align-items: center; */
	justify-content: center;
}

.radioBtn{
	width: 22px;
	height: 22px;
	cursor: pointer;
	border: 1px solid white;
}

.radioBtn img{
	width: 100%;
	height: 100%;
}

.meaning{
	width: 77%;
	padding: 0px 10px;
	color: var(--text);
	display: flex;
	/* align-items: center; */
	min-height: inherit;
	word-break: break-all;
}

.tag{
	height: fit-content;
	display: flex;
	padding-right: 5px;
	min-width: 79.86px;
	width: fit-content;
	align-items: center;
	justify-content: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}	

.tagName{
	color: var(--black);
	cursor: pointer;
	font-weight: 700;
	padding: 2px 12px;
	width: fit-content;
	border-radius: 50px;
	background-color: #6AB8FF;
}

.pin{
	height: 55px;
	display: flex;
	min-width: 55px;
	padding: 0px 5px;
	/* align-items: center; */
	justify-content: center;
}

.pin img{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.menuList{
	top: 45%;
	right: 105%;
	width: 110px;
	height: 0px;
	color: black;
	overflow: hidden;
	transition: 0.1s;
	position: absolute;
	background-color: white;
}

.menuList ul{
	width: 100%;
	height: 100%;
	list-style: none;
}

.menuList ul li{
	width: 100%;
	height: 50%;
	/*color: white;*/
	display: flex;
	cursor: pointer;
	align-items: center;
}

.menuList ul li:hover{
	background-color: #e6e3e3;
}

.menuList ul li img{
	width: 15px;
	height: 15px;
	margin: 0px 3px;
}

.menu{
	height: 55px;
	display: flex;
	min-width: 55px;
	padding: 0px 5px;
	position: relative;
	/* align-items: center; */
	justify-content: center;
}

.menu img{
	width: 24px;
	height: 24px;
	cursor: pointer;
}














/* Storage consent container styles */

.storageConsent{
	width: 450px;
	height: 50%;
	top: 50%;
	left: 50%;
	position: absolute;
	border: 1px solid #0085FF;
	background-color: #242424;
	transform: translate(-50%, -50%);
}

.closeDialogue{
	width: 100%;
	height: 38px;
	margin-bottom: 10px;
}

.closeDialogueImage{
	height: 100%;
	float: right;
	cursor: pointer;
}

.storageConsentQuestion{
	color: white;
	text-align: center;
}

.storageConsentQuestion li{
	list-style-type: none;
	text-align: left;
}

.storageConsentQuestion ul{
	width: 93%;
	margin: 0px auto;	
}

.checkbox{
	width: 15px;
	height: 15px;
	float: left;
	cursor: pointer;
	display: inline-block;
	margin: 5px 10px 5px 7px;
	border: 1px solid white;
}

.checkboxImage{
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
	margin: 5px 5px;
	display: inline-block;
}

#loadMore{
	color: white;
	display: flex;
	justify-content: center;
}

#loadMore p{
	cursor: pointer;
	width: fit-content;
}

#loadMore img{
	width: 24px;
	margin: 0px 3px;
	cursor: pointer;
}

#searchListContainer{
	width: 100%;
	height: 80%;
	left: 0%;
	z-index: 2;
	display: flex;
	position: absolute;
	justify-content: center;
	background-color: var(--bg);
}

#SLWrapper{
	width: 100%;
	height: 100%;
	overflow: scroll;
	padding: 0px 20px;
	background-color: var(--bg);
}

#emptyContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	color: var(--text);
	align-content: center;
	justify-content: center;
}

#emptyContainer h1 {
	width: 100%;
	text-align: center;
}















@media (max-width:  950px){
	.menu{
		min-width:  fit-content !important;
	}
	.pin{
		min-width: 36px;
		padding: 5px;
	}
}